.container {
  text-align: center;
  width: 90vw;
  margin: 1vw auto 1vw;
  padding: 1vw;
}
footer, footer a{
  text-align: center;
  width: 90vw;
  margin: 1vw auto 1vw;
  padding: 1vw;
}
#textoutput {
  font-style: bold;
}
nav, nav a {
  text-align: center;
  width: 90vw;
  margin: 1vw auto 1vw;
  padding: 1vw;
}
ul {
  list-style-type: none;
}
li {
  text-align: center;
}

/* Phone Sizing */
@media (min-width: 320px){
  p, a, ul{
    font-size: 5vw;
  }
  h1 {
    font-size: 10vw;	
  }
  label, input {
    font-size: 5vw;
    margin: 1vw;
  }
  #calculate, #add_button {
    width: 75vw;
    text-align: center;
    color: #fff;
    background-color: #c00;
    padding: 2vw 0;
    margin: 10vw auto;
    font-size: 24px;
    font-weight: bold;
  }
}

/* Tablet Or Large Phone */
@media (min-width: 768px){
  p, a, ul{
    font-size: 2.5vw;
  }
  h1 {
    font-size: 7.5vw;
  }
  label, input {
    font-size: 2.5vw;
    margin: 1vw;
  }
  #calculate, #add_button {
    width: 75vw;
    text-align: center;
    color: #fff;
    background-color: #c00;
    padding: 2vw 0;
    margin: 2.5vw auto;
    font-size: 24px;
    font-weight: bold;
  }
}  

/* Laptop Sizing */
@media (min-width: 1025px){
  p, a, ul {
    font-size: 2vw;
  }
  h1 {
    font-size: 2vw;
  }
  label, input {
    font-size: 2vw;
    margin: 1vw;
  }
  #calculate, #add_button {
    width: 25vw;
    text-align: center;
    color: #fff;
    background-color: #c00;
    padding: 1vw 0;
    margin: 1vw auto;
    font-size: 24px;
    font-weight: bold;
  }
}  