.container {
  text-align: center;
  width: 100vw;
  margin: 1vw auto 1vw;
  padding: 1vw;
}
footer {
  text-align: center;
  width: 100vw;
  margin: 1vw auto 1vw;
  padding: 1vw;
}
#textoutput {
  text-style: bold;
}

/* Phone Sizing */
@media (min-width: 320px){
  p, a{
    font-size: 5vw;
  }
  h1 {
    font-size: 10vw;	
  }
  label, input {
    font-size: 5vw;
    margin: 1vw;
  }
  #calculate {
    width: 75vw;
    text-align: center;
    color: #fff;
    background-color: #c00;
    padding: 2vw 0;
    margin: 10vw auto;
    font-size: 24px;
    font-weight: bold;
  }
  
}

/* Tablet Or Large Phone */
@media (min-width: 768px){
  p, a{
    font-size: 2.5vw;
  }
  h1 {
    font-size: 7.5vw;
  }
  label, input {
    font-size: 2.5vw;
    margin: 1vw;
  }
  #calculate {
    width: 75vw;
    text-align: center;
    color: #fff;
    background-color: #c00;
    padding: 2vw 0;
    margin: 2.5vw auto;
    font-size: 24px;
    font-weight: bold;
  }
}  

/* Laptop Sizing */
@media (min-width: 1025px){
  p, a {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 2vw;
  }
  label, input {
    font-size: 2vw;
    margin: 1vw;
  }
  #calculate {
    width: 10vw;
    text-align: center;
    color: #fff;
    background-color: #c00;
    padding: 1vw 0;
    margin: 1vw auto;
    font-size: 24px;
    font-weight: bold;
  }
}  